RABBITMQ_HOST=124.197.28.50
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=minhduc
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=dev
RABBITMQ_QUEUE=nvoice.generate.9pay
RABBITMQ_URL=amqp://minhduc:<password>@124.197.28.50:5672/dev
